<%= form_with(model: @point, local: true) do |form| %>
<% if @point.errors.any? %>
  <div id="error_explanation">
    <h3><%= @point.errors.count %>件のエラーがあります。</h3>
    <ul>
    <% @point.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="space">
    <div class="submit">
      <%= form.submit "保存", class:"btn btn-primary" %>
      <%= link_to "戻る", tasks_path, class:"btn btn-info ml-2" %>
    </div>
  </div>
<% end %>
