<div class="col-md-6 offset-3 mt-5">
  <h2>プロフィール画面変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <% if @user.icon? %>
        <div class="personal_picture">
          <%= image_tag(@user.icon_url, :width => "100px") if @user.icon %>
        </div>
        <label>
          <span><%= f.check_box :remove_icon %>画像を削除</span>
        </label>
      <% else %>
      　<%= image_tag 'default.jpg', :width => '100px' %>
        <%= f.file_field :icon, class:"form-control" %>
        <%= f.hidden_field :icon_cache, class:"form-control" %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <br><i>(パスワードを変更したい場合は下記カラムを変更してください)</i>
      <% if @minimum_password_length %>
        <br />
        <em>パスワード最低<%= @minimum_password_length %>文字以上</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>

    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <br><i>(ユーザ名または画像を変更した場合は現在のパスワードを入力してください)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "プロフィール更新", class:"btn btn-primary" %>
      <%= link_to "戻る", tasks_path, class:"btn btn-success ml-2" %>
    </div>
  <% end %>

  <h3>my_confidence 退会</h3>

  <div class="space">
    <p><%= button_to "退会ボタン", registration_path(resource_name), data: { confirm: "本当に退会しますか?" }, method: :delete, class:"btn btn-danger" %></p>
  </div>
</div>
