<div class="each_other_comment row" data-comment="<%= @id_comment %>">
  <%= form_with(model: @comment, remote: true) do |form| %>
    <div class="add_other_comment row">
      <%= form.label :content %> <i class="fas fa-edit"></i>（リンクの貼り付けも可能です）
      <%= form.text_area :content, rows: 3, placeholder: "コメントを追加..." %>
      <%= form.submit '更新する', data: { confirm: '投稿しますか？' }, class: 'btn btn-primary form-control col-10' %>
    </div>
  <% end %>
</div>
