<ul>
  <div class="each_other_comment row" data-comment="<%= @comment.id %>">
    <% comments.each do |comment| %>
      <% if comment.id.present? %>
        <li>
          <% if comment.user.try(:name) %>
            <li class:"mr-2">投稿者：<%= comment.user.name %> &ensp;投稿日時：<%= l comment.updated_at, format: :default %></li>
          <% else %>
            Not User Data<br>
          <% end %>
          <div class="row">
            <li class= "ml-3"><%= auto_link(simple_format(h(comment.content),{}, sanitize: false, wrapper_tag: "div")) %></li>
            <% if comment.user == current_user %>
              <li><%= link_to 'コメントを削除する', comment_path(comment.id), method: :delete, remote: true, data:{ confirm:"削除しますか？" } %></li>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
</ul>
