<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <% if comment.user.try(:name) %>
          <li class:"mr-2">投稿者：<%= comment.user.name %> &ensp;投稿日時：<%= l comment.updated_at, format: :default %></li>
        <% else %>
          Not User Data<br>
        <% end %>
        <p><%= auto_link(simple_format(h(comment.content),{}, sanitize: false, wrapper_tag: "div")) %></p>

        <% if comment.user == current_user %>
          <p>
            <%= link_to 'コメントを削除する', comment_path(comment), method: :delete, remote: true, data:{ confirm:"削除しますか？" } %>
            / <%= link_to 'コメントを編集する', edit_comment_path(comment) %>
          </p>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
