<div class="container">
  <div class="col-md-10 offset-1">
    <h2>コメント編集画面</h2>
    <%= form_with model: [@task, @comment], local: true do |form| %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
      <div class="row">
        <%= form.label :content %>
        <%= form.text_field :content, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "更新する", class:"btn btn-primary mt-3" %>
        <%= link_to '前の画面に戻る',:back, class:"btn btn-info mt-3 ml-3" %>
      </div>
    <% end %>
  </div>
</div>
