<h2>コメント編集画面</h2>
<%= form_with(model: @comment, local: true) do |form| %>
  <% if flash[:notice] %>
    <div class="alert alert-info"><%= flash[:notice] %></div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "更新する", class:"btn btn-primary mt-2" %>
    <%= link_to '前の画面に戻る',:back, class:"btn btn-info mt-2 ml-2" %>
  </div>
<% end %>
