<p id="notice"><%= notice %></p>

<h1>自分のアクション</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= l task.start_time, format: :short %></td>
        <td><%= link_to 'Show', task, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_task_path(task.id) %></td>
        <td><%= link_to 'Destroy',task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "本日のアクション", new_task_path %>

<%= month_calendar events: @tasks do |date, tasks| %>
  <%= date.day %>

  <% tasks.each do |task| %>
    <div>
      <%= link_to task.title, task %>
    </div>
  <% end %>
<% end %>
