<div class="row">
  <div class="col-lg-8 offset-2">
    <div class="text-center">
      <h2>あなたのアクション記録</h2>
    </div>
    <div class="text-center">
      <div class="col-lg-6 offset-3 mb-4">
       <div class="card">
         <div class="card-header pt-1">
           <h4>ユーザー活用レベル</h4>
         </div>
         <div class="card-body">
           <h2 class="card-title">
             <% level = @tasks.all.count(:id) * @tasks.all.sum(:require_time) / 100.ceil %>
             <td>Lv.<%= level + 1 %></td>
           </h2>
         </div>
       </div>
     </div>

      <table class="table table-bordered table-hover">
        <thead>
          <th>タイトル</th>
          <th>実績</th>
        </thead>
        <tbody>
          <tr>
            <th><a data-toggle="collapse" href="#action">アクション数(合計数)<span class="caret"></span></a></th>
            <td><a data-toggle="collapse" href="#action"><%= @tasks.all.count(:id) %>回</a></td>
          </tr>
          <tr class="collapse" id="action">
            <th>開始数</th>
            <td><%= @task_start.all.count(:id) %>回</td>
          </tr>
          <tr class="collapse" id="action">
            <th>途中数</th>
            <td><%= @task_halfway.all.count(:id) %>回</td>
          </tr>
          <tr class="collapse" id="action">
            <th>完了数</th>
            <td><%= @task_finish.all.count(:id) %>回</td>
          </tr>

          <tr>
            <th><a data-toggle= "collapse" href= "#action2">アクション合計時間<span class="caret"></span></a></th>
            <td><a data-toggle= "collapse" href= "#action2"><%= @tasks.all.sum(:require_time) %>分</a></td>
          </tr>
          <tr class="collapse" id="action2">
            <th>開始合計時間</th>
            <td><%= @task_start.all.sum(:require_time) %>分</td>
          </tr>
          <tr class="collapse" id="action2">
            <th>途中合計時間</th>
            <td><%= @task_halfway.all.sum(:require_time) %>分</td>
          </tr>
          <tr class="collapse" id="action2">
            <th>完了合計時間</th>
            <td><%= @task_finish.all.sum(:require_time) %>分</td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to '過去の取り組みに戻る', list_tasks_path, class:"btn btn-info ml-2 mb-3" %>

    <div class="space">
      <div class="title-box2">
      <div class="title-box2-title">ユーザー活用レベルとは？</div>
        <p>あなたのアクション数とアクション合計時間に応じてユーザー活用レベルが上がります。<br>アクションを重ねることでレベルアップを行い、ひいてはあなたの自信につなげてください。<i class="far fa-thumbs-up"></i></p>
      </div>
    </div>
  </div>
</div>
