<div class="container col-8 offset-2">
  <div class="card">
    <div class="card-header">
      <h2><%= l @task.start_time, format: :short %>の成果</h2>
      <% if @task.user_id != current_user.id %>
        <h4 class="text-danger">他の登録ユーザーさんの画面です。</h4>
      <% end %>
    </div>
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <div class="card-body">
      <h5><%= t('view.tag') %>：
      <% if @task.tags.blank? %>
        アクションタグなし</h5>
      <% else %>
        <% @task.tags.each do |tag| %>
          <label class='badge badge-primary'><%= tag.name %></label>
        <% end %>
      <% end %>
      <tr>
        <td><h5><%= t('view.title') %>：</h5></td>
        <td><h5><%= @task.title %></h5></td>
      </tr>
      <tr>
        <td><h5><%= t('view.description') %>：</h5></td>
        <td><h5><%= auto_link(simple_format(h(@task.description),{}, sanitize: false, wrapper_tag: "div")) %></h5></td>
      </tr>
      <tr>
        <td><h5><%= t('view.notice') %>：</h5></td>
        <td><h5><%= auto_link(simple_format(h(@task.notice),{}, sanitize: false, wrapper_tag: "div")) %></h5></td>
      </tr>
      <tr>
        <h5><%= t('view.require_time') %>：<%= @task.require_time %>分</h5>
      </tr>
      <tr>
        <h5><%= t('view.progress') %>：<%= @task.progress %></h5>
      </tr>
      <tr>
        <div class="star_space">
          <h5 class='mb-1'><%= t('view.rate') %>：<%= @task.rate %>点</h5>
          <div id="star-rate-<%= @task.id %>"></div>
        </div>
      </tr>

      <% if @task.user_id == current_user.id %>
        <%= link_to '編集', edit_task_path(@task), class: "btn btn-success ml-2 mb-3" %>
        <%= link_to '削除',task_path(@task), method: :delete, data: { confirm: '削除しますか?' }, class: "btn btn-danger ml-2 mb-3" %>
      <% end %>
      <%= link_to '戻る', tasks_path, class:"btn btn-info ml-2 mb-3" %>
      <%= link_to 'あなたの過去の記事', list_tasks_path, class:"btn btn-info ml-2 mb-3" %>

      <div id="likes_buttons_<%= @task.id %>">
        <%= render partial: 'task_favorites/like', locals: { task: @task} %>
      </div>
    </div>
  </div>

  <div class="space">
    <div id= "comments_area" class="comments_area_form">
      <%= render partial: 'comments/index', locals: { comments: @comments, task: @task } %>
    </div>

    <p>コメント投稿 <i class="far fa-sticky-note"></i></p>
    <div id= "comments_form">
      <%= render partial: 'comments/form', locals: { comment: @comment, task: @task } %>
    </div>
  </div>
</div>

<script>
  $('#star-rate-<%= @task.id %>').raty({
    size: 35,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    half: true,
    readOnly: true,
    score: '<%= @task.rate %>'
  });
</script>
