
<div class="card-header">
  <h2><%= l @task.start_time, format: :short %>の成果</h2>
  <% if flash[:notice] %>
    <div class="alert alert-danger"><%= flash[:notice] %></div>
  <% end %>

  <div class="card-body">
    <h4 class="card-title"><%= t('view.title') %>:</h4>
    <h4><%= @task.title %></h4>
    <h4 class="card-text"><%= t('view.description') %>：</h4>
    <h4><%= @task.description %></h4>
  </div>

  <%= link_to '編集', edit_task_path(@task), class:"btn btn-success ml-3" %>
  <%= link_to '戻る', tasks_path, class:"btn btn-info ml-3" %>
