<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @task.title %>
</p>

<p>
  <strong>アクション日</strong>
  <%= l @task.start_time, format: :short %>
</p>

<p>
  <strong>内容</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
