<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= t('view.icon') %></th>
      <th><%= t('view.name') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if current_user.icon.present? %>
        <td><%= image_tag(current_user.icon_url, :height => "70px") if current_user.icon %></td>
      <% else %>
        <td><%= image_tag 'default.jpg', :height => '70px' %></td>
      <% end %>
      <td><h5><%= link_to current_user.name, current_user %>さん</h5></td>
    </tr>
  </tbody>
</table>
