<div class="row">
  <div class="col-md-10 offset-1">
    <div class="text-center">
      <h2>私のお気に入りユーザー</h2>
    </div>
    <ul class="nav nav-tabs text-center">
      <li class="nav-item w-40 ml-1">
        <a class="nav-link active" data-toggle="tab" href="#home">フォローユーザー<br>
        <%= user.active_relationships.count %>件</a>
      </li>
      <li class="nav-item w-40 ml-1 mr-3">
        <a class="nav-link" data-toggle="tab" href="#profile">フォロワーユーザー<br>
        <%= user.passive_relationships.count %>件</a>
      </li>
    </ul>

    <div class="space">
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active" id="home">
          <table class="table">
            <thead>
              <tr>
                <th>No.</th>
                <th>アイコン画像</th>
                <th>ユーザー名</th>
              </tr>
            </thead>
            <tbody>
              <% user.following.each_with_index do |follow, index| %>
              <tr>
                <td scope="row"><%= index+1 %></td>
                <% if follow.icon.present? %>
                  <td><%= image_tag(follow.icon_url, :width => "70px") if follow.icon %></td>
                <% else %>
                  <td><%= image_tag 'default.jpg', :width => '70px' %></td>
                <% end %>
                <td><%= link_to follow.name, follow %>さん</td>
              <% end %>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane fade" id="profile">
          <table class="table">
            <thead>
              <tr>
                <th>No.</th>
                <th>アイコン画像</th>
                <th>ユーザー名</th>
              </tr>
            </thead>
            <tbody>
              <% user.followers.each_with_index do |follower, index| %>
              <tr>
                <td scope="row"><%= index+1 %></td>
                <% if follower.icon.present? %>
                  <td><%= image_tag(follower.icon_url, :width => "60px") if follower.icon %></td>
                <% else %>
                  <td><%= image_tag 'default.jpg', :width => '60px' %></td>
                <% end %>
                <td><%= link_to follower.name, follower %>さん</td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
