<% if user_signed_in? %>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <div class="row">
      <div class="col-lg-4 mt-3">
        <div class="text-center">
          <h2>ユーザー情報</h2>
          <div class="user_profile_content">
            <% if @user.icon.present? %>
              <p><%= image_tag(@user.icon_url, :width => "100px") if @user.icon %></p>
            <% else %>
              <p><%= image_tag 'default.jpg', :width => '100px' %></p>
            <% end %>
            <p><h5><%= @user.name %>さん</h5></p>
            <hr>
            <% if @user.introduce.blank? %>
              <p>現在、まだ未記入です。</p>
            <% else %>
              <p><%= @user.introduce %></p>
            <% end %>
            <% if current_user.id == @user.id %>
              <%= link_to 'プロフィールを編集する', edit_user_registration_path, class: 'btn btn-primary mb-4' %>
              <%= link_to '登録ユーザー一覧に戻る', users_path, class: 'btn btn-link mb-2' %>
              <%= link_to 'メッセージ一覧', conversations_path, class: 'btn btn-link mb-2' %>
            <% else %>
              <%= render 'follow_form', user: @user %>
              <%= link_to 'マイページに戻る', user_path(current_user), class: 'btn btn-link mb-3 mt-4' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mt-3">
        <% if current_user.id == @user.id %>
          <%= render partial: "users/myuser_contents", locals: {user: @user} %>
        <% else %>
          <%= render partial: "users/otheruser_contents", locals: {user: @user} %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="container">
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <div class="col-lg-8 offset-2 mt-3">
      <%= render partial: "users/otheruser_contents", locals: {user: @user} %>
    </div>
  </div>
<% end %>
