<h2>ユーザー情報</h2>

<table>
  <thead>
    <tr>
      <th><%= t('view.icon') %></th>
      <th><%= t('view.name') %></th>
      <th><%= t('view.email') %></th>
    <tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.icon %></td>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>

    </tr>
   </tbody>
</table>
