<div class="container-fluid">
  <%=form_with(model: @tag,local: true) do |form| %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <div class="row">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="space">
      <div class="submit">
        <%= form.submit "保存", class:"btn btn-primary mt-3" %>
        <%= link_to "戻る", tags_path, class:"btn btn-info mt-3 ml-2" %>
      </div>
    </div>
  <% end %>
</div>
