<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container">
      <% if user_signed_in? %>
        <li class="navbar-brand js-scroll-trigger nav-item">
          <%= link_to "my_confidence", tasks_path, class: "nav-link js-scroll-trigger text-white" %>
        </li>
      <% else %>
        <li class="navbar-brand js-scroll-trigger nav-item">
          <%= link_to "my_confidence", my_confidence_path, class: "nav-link js-scroll-trigger text-white" %>
        </li>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "アクションタグ", tags_path, class: "nav-link js-scroll-trigger fas fa-tag mt-2 mb-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: "nav-link js-scroll-trigger fas fa-user mt-2 mb-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "過去の取り組み", list_tasks_path, class: "nav-link js-scroll-trigger fas fa-book-reader mt-2 mb-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "登録ユーザー一覧", users_path, class: "nav-link js-scroll-trigger fas fa-user-friends mt-2 mb-1" %>
            </li>
            <li class="dropdown nav-item ml-2 mt-2 mb-1">
              <a href="#" class="dropdown-toggle nav-link js-scroll-trigger fas fa-asterisk" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">アカウント<span class="caret"></span></a>
          　  <ul class="dropdown-menu">
                <li class="nav-item">
                  <%= link_to "プロフィール編集", edit_user_registration_path, class: "fas fa-address-card mt-1 text-info" %>
                </li>
                <li class="nav-item mt-1">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt mt-1 text-info" %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to "サインアップ", new_user_registration_path, class: "nav-link js-scroll-trigger" %>
            </li>
          </ul>
        </div>
    <% end %>
    </div>
  </nav>
