<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">my_confidence</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-link js-scroll-trigger">ようこそ<%= current_user.name %>さん</li>
            <li class="nav-item">
              <%= link_to "あなたのプロフィール", edit_user_registration_path, class: "nav-link js-scroll-trigger fas fa-user mt-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "あなたの過去の取り組み", list_tasks_path, class: "nav-link js-scroll-trigger fas fa-book-reader mt-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "登録ユーザー一覧", users_path, class: "nav-link js-scroll-trigger fas fa-user-friends mt-1" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link js-scroll-trigger fas fa-sign-out-alt mt-1" %>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link js-scroll-trigger" %>
            </li>
            <li class="nav-item">
              <%= link_to "サインアップ", new_user_registration_path, class: "nav-link js-scroll-trigger" %>
            </li>
          </ul>
        </div>
    <% end %>
    </div>
  </nav>
